* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    background-image: url(../img/Fon.png);
}


#grid2{ 
    margin-left: 200px;
    width: 1200px; 
    margin-top: 40px; 
    height:200px; 
    border: 0px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:10px;  
    color:#353535; 
    background-color: #ffffff; 
    border-radius: 20px; 
} 

#grid2 button {
    background: #2B5378; 
    color: white; 
    width: 40px; 
    height: 30px; 
    margin-left: 12px; 
    transition: all 0.5s ease; 
    border-radius: 10px; 
    border: #2B5378; 
}

thead{
    border-radius: 200px;
}

html,
body,
.wrapper {
	height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

table button {
    background: #2B5378;
	color: white;
	width: 70px;
	height: 40px;
	margin-left: 15px;
	transition: all 0.5s ease;
	border-radius: 10px;
	border: #2B5378;
}

.text1 {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-left: -20px;
}

.text3 {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 0px;
    margin-left: 200px;
}

.text4 {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 60px;
    margin-left: 250px;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    margin-top: 5px;
}

.d-flex { 
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

input {
    width:250px;
	height: 43px;
	padding-left: 18px;
	margin: 5px;
	display: block;
	margin-left: 60px;
	margin-top: 40px;
	box-sizing: border-box;
	color: white;
	background: rgba( 0,0,0,.1);
	border: 1px solid white;
	opacity: 1;
    border-radius: 5px;
}

.maincontainer {
    box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 0px;
}

.container {
    padding: 0 15px;
}

#header {
    background-color: #2B5378;
    width: 100%;
}

.header-nav {
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
}

.header-nav a{
    color: #FFFFFF;
}

footer {
    position: absolute;
	color: white;
	text-align: center;
	background: #2B5378;
    width: 100%;
    height: 25px;
    margin-top: 0px;
}

#grid2{
    width:1070px;
	height:200px;
	border-style:solid;
	border-bottom-width:thin;
    empty-cells:show; 
    font-size:18px;
    color:#353535;
    background-color: #ffffff;
    border-radius: 10px;
}

.formtable{
    width: 0 auto;
    height: 0 auto;
}

.fi_tr{
	background:url(img/table_header.png);
	text-align:center;
	height:30px;
}
td{
	overflow:hidden;
	 height:25px;
	 border:1px solid #353535;
   	 padding:0 1em 0;
}

tr:hover{
	background-color:#0000007a;
}

.odd{
 background-color:#f5fafe;
}

#btnUpdateUsers{
    width: 40px;
    height: 40px;
    margin-top: -45px;
    margin-left: 1230px;
    background: #930000;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 25%);
    border-radius: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 0.04em;
    border-color: transparent;
    color: #FFFFFF;
}

/* .form-group{
    margin-left: 430px;
    margin-top: 35px;
} */

.form-group button{
    /* margin-top: 10px; */
    margin-left: 125px;
}

#txtNumCar {
    width: 130px;
    margin-inline-start: 433px;
    margin-top: 5px;
}

#txtdateTime {
    width: 130px;
    margin-inline-start: 592px;
    margin-top: -33px;
}

#btnSearch {
    margin-top: 21px;
    /* left: 750px; */
    margin-left: 498px;
    background: #2B5378;
	color: white;
    height: 40px;
	transition: all 0.5s ease;
	border-radius: 5px;
	border: #ffffff;
    font-size: 16px;
}

#btnClear {
    margin-left: 24px;
    margin-top: 23px;
    top: 8;
    /* top: 81px; */
    padding-top: 50p;
    background: #2B5378;
	color: white;
    height: 40px;
	transition: all 0.5s ease;
	border-radius: 5px;
	border: #ffffff;
    font-size: 16px;
}

#btnAdd1{
    background: #2B5378;
	color: white;
	height: 40px;
	transition: all 0.5s ease;
	border-radius: 5px;
	border: #ffffff;
    font-size: 16px;
    margin-top: -43px;
    margin-left: 951px;
    position: absolute;
}

#dialogCreate{
    background: #2b5378b9;
    color:#FFFFFF;
}

#dialogCreate button{
    background: #2b5378b9;
    color:#FFFFFF;
}

#btnCreateUser{
    width: 100px;
    margin-left: 10px;
    
}

#btnCreateCancel{
    width: 100px;
    margin-left: 140px;

    margin-top: -50px;
}




#dialog{
    background: #2b5378b9;
    color:#FFFFFF;
}

#dialog button{
    background: #2b5378b9;
    color:#FFFFFF;
}

#btnSave{
    width: 100px;
    margin-left: 10px;
    
}

#btnCancel{
    width: 100px;
    margin-left: 140px;
    margin-top: -50px;
}

#btnAdd{
    background: #2B5378; 
    color: white; 
    width: 130px; 
    height: 40px; 
    margin-left: 12px; 
    transition: all 0.5s ease; 
    border-radius: 10px; 
    border: #2B5378; 
    font-size:18px;
}

#dialogCreate{
    background: #2b5378b9;
    color:#FFFFFF;
}

#dialogCreate button{
    background: #2b5378b9;
    color:#FFFFFF;
}
/* 
@media (min-width: 1200px) {
.container {
    width: 2040px;
}
} */

/* @media (min-width: 992px)
.container {
    width: 1122px;
}
@media (min-width: 768px)
.container {
    width: 921px;
} */
.container {
    padding-right: -35p;
    padding-left: 93px;
    margin-right: 0px;
    margin-left: 0px;
}
.container {
    padding: 0 15px;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.d-flex {
    display: flex;
}